:php
  $view['page_title'] = 'Список пользователей';
  $view['footer_js'][] = '/js/moment-with-langs.min.js';
  $view['footer_js'][] = '/js/bootstrap-datetimepicker.min.js';
  $view['footer_js'][] = '/js/jquery.selectric.min.js';
  $view['css'][] = '/css/bootstrap-datetimepicker.min.css';
  $view['css'][] = '/css/selectric.css';
:javascript
  $(function(){ 
    // datetime
    $('.datetime').datetimepicker({
      language: 'ru',
      
    });
    //filter collapse
    var c = document.cookie;
    $('.collapse').each(function () {
      if (this.id) {
        var pos = c.indexOf(this.id + "_collapse_in=");
        if (pos > -1) {
          c.substr(pos).split('=')[1].indexOf('false') ? $(this).addClass('in') : $(this).removeClass('in');
        }
      }
    }).on('shown.bs.collapse hidden.bs.collapse', function () {
      if (this.id) {
        document.cookie = this.id + "_collapse_in=" + $(this).hasClass('in');
      }
    });
    //select box
    $('.input-select').selectric();  
  });
.row
  .col-lg-12
    .br
    .col-lg-9
      %ol(class="breadcrumb")
        %li
          %a(href="/admin/") Рабочий стол
        %li
          %a(href="/admin/user/") Пользователи 
    .col-lg-3
      %a(href="/admin/user/edit" class="btn btn-success") Добавить нового пользователя
%div(class="row page")
  %div(class="panel-group" id="accordion")
    %div(class="panel panel-default")
      .panel-heading
        %h4(class="panel-title")
          %a(data-toggle="collapse" data-parent="#accordion" href="#filter-box")
            Фильтр
      %div(id="filter-box" class="panel-collapse collapse in")
        .panel-body
          %form(role="form" class="form-horizontal" action=$widget->getCurPageParam([],['filter']) method="get")
            .col-lg-6
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-id") =$filter->getLabel('ID')
                .col-sm-8
                  %input(type="number" name=$filter->id->getFullName() class="form-control input-sm" id="filter-id" value=$filter->id->getValue())
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-guid") =$filter->guid->getLabel()
                .col-sm-8
                  %input(type="text" name=$filter->guid->getFullName() class="form-control input-sm" id="filter-guid" value=$filter->guid->getValue())
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-login") =$filter->login->getLabel()
                .col-sm-8
                  %input(type="text" name=$filter->login->getFullName() class="form-control input-sm" id="filter-login" value=$filter->login->getValue())
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-email") =$filter->email->getLabel()
                .col-sm-8
                  %input(type="email" name=$filter->email->getFullName() class="form-control input-sm" id="filter-email" value=$filter->email->getValue())
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-code") =$filter->code->getLabel()
                .col-sm-8
                  %input(type="text" name=$filter->code->getFullName() class="form-control input-sm" id="filter-code" value=$filter->code->getValue())
            .col-lg-6
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-create-date-from") Дата создания
                .col-sm-4
                  %div(class="input-group date datetime" data-date-format="DD.MM.YYYY hh:mm:ss")
                    %input(type="datetime" name=$filter->create_date_from->getFullName() class="form-control input-sm" id="filter-create-date-from" value=$filter->create_date_from->getValue())
                    %span(class="input-group-addon")
                      %span(class="glyphicon glyphicon-calendar")
                .col-sm-4
                  %div(class="input-group date datetime" data-date-format="DD.MM.YYYY hh:mm:ss")
                    %input(type="datetime" name=$filter->create_date_to->getFullName() class="form-control input-sm" id="filter-create-date-to" value=$filter->create_date_to->getValue())
                    %span(class="input-group-addon")
                      %span(class="glyphicon glyphicon-calendar")
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-timestamp-x-from") Дата изменения
                .col-sm-4
                  %div(class="input-group date datetime" data-date-format="DD.MM.YYYY hh:mm:ss")
                    %input(type="datetime" name=$filter->timestamp_x_from->getFullName() class="form-control input-sm" id="filter-timestamp-x-from" value=$filter->timestamp_x_from->getValue())
                    %span(class="input-group-addon")
                      %span(class="glyphicon glyphicon-calendar")
                .col-sm-4
                  %div(class="input-group date datetime" data-date-format="DD.MM.YYYY hh:mm:ss")
                    %input(type="datetime" name=$filter->timestamp_x_to->getFullName() class="form-control input-sm" id="filter-timestamp-x-to" value=$filter->timestamp_x_to->getValue())
                    %span(class="input-group-addon")
                      %span(class="glyphicon glyphicon-calendar")
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-registered") =$filter->getLabel('REGISTERED')
                .col-sm-8
                  %select(name=$filter->registered->getFullName())
                    %option(value="") (любой)
                    -if($filter->registered->getValue() === 'Y')
                      %option(value="Y" selected) Да
                    -else
                      %option(value="Y") Да
                    -if($filter->registered->getValue() === 'N')
                      %option(value="N" selected) Нет
                    -else
                      %option(value="N") Нет
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-active") =$filter->active->getLabel()
                .col-sm-8
                  %select(name=$filter->active->getFullName())
                    %option(value="") (любой)
                    -if($filter->active->getValue() === 'Y')
                      %option(value="Y" selected) Да
                    -else
                      %option(value="Y") Да
                    -if($filter->active->getValue() === 'N')
                      %option(value="N" selected) Нет
                    -else
                      %option(value="N") Нет
              .form-group
                %label(class="text_left control-label col-sm-4" for="filter-display-name") =$filter->getLabel('DISPLAY_NAME')
                .col-sm-8
                  %input(type="text" name=$filter->display_name->getFullName() class="form-control input-sm" id="filter-display-name" value=$filter->display_name->getValue())
            %div(style="clear:both;")
            .col-lg-6
              .form-group
                .col-sm-4
                .col-sm-8
                  %button(type="submit" class="btn btn-default btn-sm") Поиск
                  %button(type="reset" class="btn btn-danger btn-sm") Отмена  
.row
  .col-lg-12
    .br
    %table.table
      %tr
        %td 
          %span(class="glyphicon glyphicon-pencil")
        %td
          -if(isset($sort['ID']))
            -if($sort['ID'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['ID' => 'asc']],['sort'])) 
                %span &#9660;
                =$filter->getLabel('ID')
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['ID' => 'desc']],['sort']))
                %span &#9650;
                =$filter->getLabel('ID')
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['ID' => 'desc']],['sort']))
              =$filter->getLabel('ID')
        %td 
          -if(isset($sort['LOGIN']))
            -if($sort['LOGIN'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['LOGIN' => 'asc']],['sort'])) 
                %span &#9660;
                =$filter->getLabel('LOGIN')
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['LOGIN' => 'desc']],['sort']))
                %span &#9650;
                =$filter->getLabel('LOGIN')
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['LOGIN' => 'desc']],['sort']))
              =$filter->getLabel('LOGIN')
        %td 
          -if(isset($sort['EMAIL']))
            -if($sort['EMAIL'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['EMAIL' => 'asc']],['sort'])) 
                %span &#9660;
                =$filter->getLabel('EMAIL')
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['EMAIL' => 'desc']],['sort']))
                %span &#9650;
                =$filter->getLabel('EMAIL')
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['EMAIL' => 'desc']],['sort']))
              =$filter->getLabel('EMAIL')
        %td
          -if(isset($sort['DISPLAY_NAME']))
            -if($sort['DISPLAY_NAME'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['DISPLAY_NAME' => 'asc']],['sort'])) 
                %span &#9660;
                =$filter->getLabel('DISPLAY_NAME')
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['DISPLAY_NAME' => 'desc']],['sort']))
                %span &#9650;
                =$filter->getLabel('DISPLAY_NAME')
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['DISPLAY_NAME' => 'desc']],['sort'])) 
              =$filter->getLabel('DISPLAY_NAME')
        %td
          -if(isset($sort['REGISTERED']))
            -if($sort['REGISTERED'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['REGISTERED' => 'asc']],['sort'])) 
                %span &#9660;
                =$filter->getLabel('REGISTERED')
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['REGISTERED' => 'desc']],['sort']))
                %span &#9650;
                =$filter->getLabel('REGISTERED')
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['REGISTERED' => 'desc']],['sort'])) 
              =$filter->getLabel('REGISTERED')
        %td
          -if(isset($sort['ACTIVE']))
            -if($sort['ACTIVE'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['ACTIVE' => 'asc']],['sort'])) 
                %span &#9660;
                =$filter->getLabel('ACTIVE')
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['ACTIVE' => 'desc']],['sort']))
                %span &#9650;
                =$filter->getLabel('ACTIVE')
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['ACTIVE' => 'desc']],['sort'])) 
              =$filter->getLabel('ACTIVE')
        %td 
          -if(isset($sort['CREATE_DATE']))
            -if($sort['CREATE_DATE'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['CREATE_DATE' => 'asc']],['sort'])) 
                %span &#9660;
                Дата создания
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['CREATE_DATE' => 'desc']],['sort']))
                %span &#9650;
                Дата создания
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['CREATE_DATE' => 'desc']],['sort']))
              Дата создания
        %td 
          -if(isset($sort['TIMESTAMP_X']))
            -if($sort['TIMESTAMP_X'] === 'desc')
              %a(href=$widget->getCurPageParam(['sort'=>['TIMESTAMP_X' => 'asc']],['sort'])) 
                %span &#9660;
                Дата изменения
            -else
              %a(href=$widget->getCurPageParam(['sort'=>['TIMESTAMP_X' => 'desc']],['sort']))
                %span &#9650;
                Дата изменения
          -else    
            %a(href=$widget->getCurPageParam(['sort'=>['TIMESTAMP_X' => 'desc']],['sort'])) 
              Дата изменения
      -foreach($list as $item)
        %tr
          %td 
            %input(type="checkbox" name="row-#{$item->id}" class="input-action" data-id=$item->id id="row-#{$item->id}")
          %td 
            %a(href="/admin/user/edit?id=#{$item->id}")
              =$item->id
          %td
            %a(href="/admin/user/edit?id=#{$item->id}") 
              =$item->login
          %td =$item->email
          %td =$item->display_name
          %td 
            -if($item->registered === 'Y')
              %span(style="color:green;" class="glyphicon glyphicon-ok")
            -else
              %span(style="color:red;" class="glyphicon glyphicon-remove")
          %td
            -if($item->active === 'Y')
              %span(style="color:green;" class="glyphicon glyphicon-ok")
            -else
              %span(style="color:red;" class="glyphicon glyphicon-remove")
          %td =$item->create_date
          %td =$item->timestamp_x
      %tr
        %th(colspan="11")
          %div(class="form-inline col-sm-4")
            :javascript
              $(function(){
                function action_redraw(){
                  $("#edit-submit-button").addClass('disabled');
                  $("#hidden-box-edits").html('');
                  $('.input-action').each(function(){
                    if($(this).is(':checked')){
                      $("#hidden-box-edits").append('<input type="hidden" name="ACTION[ID][]" value="'+$(this).attr("data-id")+'" />');
                      $("#edit-submit-button").removeClass('disabled');
                    }
                  });
                };
                $('#check-all').click(function(){
                  $('.input-action').each(function(){
                    $(this).prop('checked', $('#check-all').is(':checked'));
                  });
                  action_redraw();  
                });
                $('.input-action').click(action_redraw);
              });
            %form(class="form-inline" action=$widget->getCurPageParam(['post' => 'y'],['post']) method="post" id="edit-form" role="form")
              #hidden-box-edits
              .form-group
                %div(class="checkbox")
                  %label
                    %input(type="checkbox" id="check-all") &nbsp;Выбрать все
              .form-group
                %select(name="ACTION[ACTION]" class="input-select")
                  %option(value="delete") Удалить
              .form-group                
                %input(type="submit" id="edit-submit-button" value="Отправить" class="disabled btn btn-sm btn-primary")
          %div(class="col-sm-8 form-inline text_right")
            .form-group
              Загрузить:
              %a(href=$widget->getCurPageParam(['format' => 'json'],['format']) target="_blank") json
              ,
              %a(href=$widget->getCurPageParam(['format' => 'xml'],['format']) target="_blank") xml
              ,
              %a(href=$widget->getCurPageParam(['format' => 'csv'],['format']) target="_blank") csv
              ,
              %a(href=$widget->getCurPageParam(['format' => 'xls'],['format']) target="_blank") xls
              &nbsp;-&nbsp;
              #{$offset + 1} / #{intval($count / $limit) + 1}
              &nbsp;-&nbsp;
              Всего: #{$count} &nbsp;-&nbsp;
            .form-group
              На странице:
            .form-group
              :javascript
                $(function(){
                  $("#page-size-box").change(function(){
                    document.location.href = $( this ).find(":selected").attr('data-href');
                  });
                })
              %select(name="limit" id="page-size-box" class="input-select")
                -foreach([25,50,100,200,500] as $i)
                  -if($i === $limit)
                    %option(value=$i data-href=$widget->getCurPageParam(['limit' => $i],['limit']) selected) =$i
                  -else
                    %option(value=$i data-href=$widget->getCurPageParam(['limit' => $i],['limit'])) =$i
-if($count > $limit)
  .row
    %ul.pagination
      %li 
        %a(href="#") &laquo;
      %li 
        %a(href="#") 1
      %li 
        %a(href="#") 2
      %li 
        %a(href="#") 3
      %li 
        %a(href="#") 4
      %li 
        %a(href="#") &raquo;